/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_planova";
    src: url("./flaticon_planova.woff2?808bba9d5d6ddd6a77b7847679b4675a") format("woff2"),
url("./flaticon_planova.woff?808bba9d5d6ddd6a77b7847679b4675a") format("woff"),
url("./flaticon_planova.eot?808bba9d5d6ddd6a77b7847679b4675a#iefix") format("embedded-opentype"),
url("./flaticon_planova.ttf?808bba9d5d6ddd6a77b7847679b4675a") format("truetype"),
url("./flaticon_planova.svg?808bba9d5d6ddd6a77b7847679b4675a#flaticon_planova") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_planova !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-logout:before {
    content: "\f101";
}
.flaticon-files:before {
    content: "\f102";
}
.flaticon-folder-outline:before {
    content: "\f103";
}
.flaticon-data-analytics:before {
    content: "\f104";
}
.flaticon-folders:before {
    content: "\f105";
}
.flaticon-cabinet:before {
    content: "\f106";
}
.flaticon-copy:before {
    content: "\f107";
}
.flaticon-calendar:before {
    content: "\f108";
}
.flaticon-users-avatar:before {
    content: "\f109";
}
.flaticon-user:before {
    content: "\f10a";
}
.flaticon-line-chart:before {
    content: "\f10b";
}
.flaticon-chart-bars:before {
    content: "\f10c";
}
.flaticon-trend:before {
    content: "\f10d";
}
.flaticon-line-chart-1:before {
    content: "\f10e";
}
.flaticon-graph:before {
    content: "\f10f";
}
.flaticon-statistic:before {
    content: "\f110";
}
.flaticon-pie-graphic:before {
    content: "\f111";
}
.flaticon-pie-chart:before {
    content: "\f112";
}
.flaticon-card:before {
    content: "\f113";
}
.flaticon-wallet:before {
    content: "\f114";
}
.flaticon-wallet-1:before {
    content: "\f115";
}
.flaticon-credit-card:before {
    content: "\f116";
}
.flaticon-security:before {
    content: "\f117";
}
.flaticon-cyber-security:before {
    content: "\f118";
}
.flaticon-ssl:before {
    content: "\f119";
}
.flaticon-clock:before {
    content: "\f11a";
}
.flaticon-money-bag:before {
    content: "\f11b";
}
.flaticon-coin:before {
    content: "\f11c";
}
.flaticon-grow-up:before {
    content: "\f11d";
}
.flaticon-filter:before {
    content: "\f11e";
}
.flaticon-filter-1:before {
    content: "\f11f";
}
.flaticon-funnel:before {
    content: "\f120";
}
.flaticon-backlog:before {
    content: "\f121";
}
.flaticon-goal:before {
    content: "\f122";
}
.flaticon-gear:before {
    content: "\f123";
}
.flaticon-money-management:before {
    content: "\f124";
}
.flaticon-value-proposal:before {
    content: "\f125";
}
.flaticon-work-process:before {
    content: "\f126";
}
.flaticon-profit:before {
    content: "\f127";
}
.flaticon-security-1:before {
    content: "\f128";
}
.flaticon-bonus:before {
    content: "\f129";
}
.flaticon-data-protection:before {
    content: "\f12a";
}
.flaticon-star:before {
    content: "\f12b";
}
.flaticon-handle-with-care:before {
    content: "\f12c";
}
.flaticon-sigma:before {
    content: "\f12d";
}
.flaticon-invoice:before {
    content: "\f12e";
}
.flaticon-receipt:before {
    content: "\f12f";
}
.flaticon-working-hours:before {
    content: "\f130";
}
.flaticon-time:before {
    content: "\f131";
}
.flaticon-checked:before {
    content: "\f132";
}
.flaticon-close:before {
    content: "\f133";
}
.flaticon-check:before {
    content: "\f134";
}
.flaticon-morocco:before {
    content: "\f135";
}
.flaticon-africa:before {
    content: "\f136";
}
.flaticon-globe:before {
    content: "\f137";
}
.flaticon-public-transport:before {
    content: "\f138";
}
.flaticon-money:before {
    content: "\f139";
}
.flaticon-online-course:before {
    content: "\f13a";
}
.flaticon-invoice-1:before {
    content: "\f13b";
}
.flaticon-invoice-2:before {
    content: "\f13c";
}
.flaticon-bulb:before {
    content: "\f13d";
}
.flaticon-calendar-1:before {
    content: "\f13e";
}
.flaticon-chart:before {
    content: "\f13f";
}
.flaticon-engineer:before {
    content: "\f140";
}
.flaticon-crane:before {
    content: "\f141";
}
.flaticon-crane-1:before {
    content: "\f142";
}
.flaticon-excel:before {
    content: "\f143";
}
.flaticon-file:before {
    content: "\f144";
}
.flaticon-speech-bubble:before {
    content: "\f145";
}
.flaticon-medical:before {
    content: "\f146";
}
.flaticon-cube:before {
    content: "\f147";
}
.flaticon-360:before {
    content: "\f148";
}
.flaticon-exclamation:before {
    content: "\f149";
}
.flaticon-warning:before {
    content: "\f14a";
}
.flaticon-siren:before {
    content: "\f14b";
}
.flaticon-notification:before {
    content: "\f14c";
}
.flaticon-alert:before {
    content: "\f14d";
}
.flaticon-siren-1:before {
    content: "\f14e";
}
.flaticon-start-up:before {
    content: "\f14f";
}
.flaticon-rocket:before {
    content: "\f150";
}
.flaticon-calendar-2:before {
    content: "\f151";
}
.flaticon-hourglass:before {
    content: "\f152";
}
.flaticon-speedometer:before {
    content: "\f153";
}
.flaticon-bandwidth:before {
    content: "\f154";
}
.flaticon-speedometer-1:before {
    content: "\f155";
}
.flaticon-signal:before {
    content: "\f156";
}
.flaticon-progress:before {
    content: "\f157";
}
.flaticon-megaphone:before {
    content: "\f158";
}
.flaticon-avatar:before {
    content: "\f159";
}
.flaticon-robot:before {
    content: "\f15a";
}
.flaticon-robot-1:before {
    content: "\f15b";
}
.flaticon-sort:before {
    content: "\f15c";
}
.flaticon-security-camera:before {
    content: "\f15d";
}
.flaticon-search:before {
    content: "\f15e";
}
.flaticon-search-1:before {
    content: "\f15f";
}
.flaticon-man:before {
    content: "\f160";
}
.flaticon-run:before {
    content: "\f161";
}
.flaticon-engine:before {
    content: "\f162";
}
.flaticon-clock-1:before {
    content: "\f163";
}
.flaticon-info:before {
    content: "\f164";
}
.flaticon-add-user:before {
    content: "\f165";
}
.flaticon-user-1:before {
    content: "\f166";
}
.flaticon-user-2:before {
    content: "\f167";
}
.flaticon-user-3:before {
    content: "\f168";
}
.flaticon-direction:before {
    content: "\f169";
}
.flaticon-processing-time:before {
    content: "\f16a";
}
.flaticon-validated:before {
    content: "\f16b";
}
.flaticon-trace:before {
    content: "\f16c";
}
.flaticon-cancel:before {
    content: "\f16d";
}
.flaticon-automation:before {
    content: "\f16e";
}
.flaticon-process:before {
    content: "\f16f";
}
.flaticon-remove:before {
    content: "\f170";
}
.flaticon-timeline:before {
    content: "\f171";
}
.flaticon-approve:before {
    content: "\f172";
}
.flaticon-gantt-chart:before {
    content: "\f173";
}
.flaticon-target:before {
    content: "\f174";
}
.flaticon-meteor:before {
    content: "\f175";
}
.flaticon-meeting-room:before {
    content: "\f176";
}
.flaticon-meet:before {
    content: "\f177";
}
.flaticon-engineering:before {
    content: "\f178";
}
.flaticon-procurement:before {
    content: "\f179";
}
.flaticon-gear-1:before {
    content: "\f17a";
}
.flaticon-handshake:before {
    content: "\f17b";
}
.flaticon-trust:before {
    content: "\f17c";
}
.flaticon-briefcase:before {
    content: "\f17d";
}
.flaticon-project-manager:before {
    content: "\f17e";
}
.flaticon-file-1:before {
    content: "\f17f";
}
.flaticon-profile-user:before {
    content: "\f180";
}
.flaticon-pause:before {
    content: "\f181";
}
.flaticon-play:before {
    content: "\f182";
}

